@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6f7;
  overflow-x: hidden;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hind Siliguri', sans-serif;
}

button {
  font-family: 'Hind Siliguri', sans-serif;
}